<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beautiful Places</title>
</head>

<body>
  <h1>All Beautiful Places</h1>

  <ul>
    <% for (let place of places) { %>
      <li>
        <a href="/places/<%= place._id %>">
          <%= place.name %>
        </a>
      </li>
      <% } %>
</body>

</html>