<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Place</title>
</head>

<body>
  <h1>Add a Beautiful Place</h1>
  
  <form action="/places" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="place[name]" />
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="place[location]" />
    </div>
    <div>
      <label for="description">Description</label>
      <input type="text" id="description" name="place[description]" />
    </div>
    <button type="submit">Add Place</button>
  </form>

  <a href="/places">All places</a>
</body>

</html>